{% extends "admin/change_list.html" %}
{% load i18n %}

{% block result_list %}
<table id="result_list">
    <thead>
        <tr>
            <th scope="col">
                <div class="text"><a>{% trans "Problem solving time" %}</a></div>
            </th>
            <th scope="col">
                <div class="text"><a>{% trans "Average" %}</a></div>
                <div class="clear"></div>
            </th>
            <th scope="col">
                <div class="text"><a>{% trans "Longest" %}</a></div>
                <div class="clear"></div>
            </th>
            <th scope="col">
                <div class="text"><a>{% trans "Shortest" %}</a></div>
                <div class="clear"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="row1">
            <td></td>
            <td>{{ solving_time.average }}</td>
            <td>{{ solving_time.longest }}</td>
            <td>{{ solving_time.shortest }}</td>
        </tr>
    </tbody>
</table>
{{ block.super }}
{% endblock %}