{% extends 'master.html' %}
{% load i18n %}

{% block body %}
<section class="section">
    <h1 class="title">{% trans "Latests issues" %}</h1>

    <div class="columns">
        {% for issue in latest_issues %}
            <div class="column is-third">   
                <div class="card">
                    <header class="card-header">
                    <p class="card-header-title">{{ issue.title }}</p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{ issue.description }}
                    <br>
                    <hr>
                    <time datetime="{{ issue.created|date:"Y-m-d" }}">Opened: {{ issue.created }}</time>
                    </div>
                </div>
                <footer class="card-footer">

                    {% if user.is_superuser %}
                        <a href="{% url 'admin:tracker_issue_change' issue.pk %}" class="card-footer-item">Edit</a>
                        <a href="{% url 'admin:tracker_issue_delete' issue.pk %}" class="card-footer-item">Delete</a>
                    {% else %}
                        <a href="{% url 'admin:tracker_issue_change' issue.pk %}" class="card-footer-item">{% trans "View" %}</a>
                    {% endif %}
                </footer>
            </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock body %}