{% load i18n %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block html_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
    <section class="hero is-warning">
      <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'home' %}">
            ISSU+_
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHero" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item"
               href="{% url 'issue_list' %}">
              {% trans "Tracker" %}
            </a>
            {% if user.is_superuser %}
              <a class="navbar-item"
                href="{% url 'admin:tracker_issue_add' %}">
                {% trans "New issue" %}
              </a>
              <a class="navbar-item"
                href="{% url 'create_staff' %}">
                {% trans "Create user" %}
              </a>
            {% endif %}
            <a class="navbar-item"
               href="{% url 'admin:tracker_issue_changelist' %}">
              {% trans "Admin" %}
            </a>
            {% if user.is_anonymous %}
              <a class="navbar-item"
                href="{% url 'admin:login' %}?next={{ request.path|urlencode }}">
                {% trans "Log in" %}
              </a>
            {% else %}
              <a class="navbar-item"
                href="{% url 'admin:logout' %}">
                {% trans "Log out" %}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    {% if messages %}
      {% for message in messages %}
        <div class="notification is-success">{{ message }}</div>
      {% endfor %}
    {% endif %}
  </div>
</section>
<section class="section">
    {% block body %}{% endblock %}
</section>
</body>
</html>