{% extends 'master.html' %}
{% load i18n %}

{% block body %}
    <div class="columns">
    <form action="" method="post" class="container column is-one-third">
        {% csrf_token %}
        <h1 class="title">{% trans "Create a new staff user" %}</h1>

        <div class="field">
            <label class="label" for="id_username">Username</label>
            <div class="control">
                <input class="input" name="username" maxlength="150" required="" id="id_username" type="text" value="{{ form.username.value|default:'' }}">
                <span class="help">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
            </div>
        </div>
        <div class="field">
            <label class="label" for="id_password1">{% trans "Password" %}</label>
            <div class="control">
                <input class="input" name="password1" maxlength="30" id="id_password1" type="password">
            </div>
            {% if form.errors.password1 %}<span class="help is-danger">{{ form.errors.password1 }}</span>{% endif %}
        </div>
        <div class="field">
            <label class="label" for="id_password2">{% trans "Password again" %}</label>
            <div class="control">
                <input class="input" name="password2" maxlength="30" id="id_password2" type="password">
            </div>
            {% if form.errors.password2 %}<span class="help is-danger">{{ form.errors.password2 }}</span>{% endif %}
        </div>
        <div class="control">
            <button type="submit" class="button is-link">Submit</button>
        </div>
    
    </form>
    </div>
{% endblock body %}