{% extends 'master.html' %}
{% load i18n %}

{% block body %}
    <section class="section ">
        <h1 class="title">{% trans "Tracker" %}</h1>


<table class="table" style="width: 100%">
    <thead>
        <tr class="is-selected">
            <th scope="col">
                <div class="text">{% trans "Problem solving time" %}</div>
            </th>
            <th scope="col">
                <div class="text">{% trans "Average" %}</div>
            </th>
            <th scope="col">
                <div class="text">{% trans "Longest" %}</div>
            </th>
            <th scope="col">
                <div class="text">{% trans "Shortest" %}</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="row1">
            <td></td>
            <td>{{ solving_time.average }}</td>
            <td>{{ solving_time.longest }}</td>
            <td>{{ solving_time.shortest }}</td>
        </tr>
    </tbody>
</table>
        
    <table class="table is-striped" style="width: 100%">
      <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Category" %}</th>
            <th>{% trans "Opened" %}</th>
            <th>{% trans "Resolved" %}</th>
            <th>{% trans "Submitter" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for issue in issue_list %}
            <tr>
                <td><a href="{% url 'admin:tracker_issue_change' issue.pk %}">{{ issue.title }}</a></td>
                <td><span class="tag is-{% if issue.status == 'open' %}success{% else %}danger{% endif %}">{{ issue.status }}</span></td>
                <td>{{ issue.get_category_display }}</td>
                <td>{{ issue.created }}</td>
                <td>{{ issue.resolved|default:"" }}</td>
                <td>{{ issue.submitter|default:"" }}</td>
            </tr>
        {% empty %}
            <tr><td>{% trans "No issues found" %}</td></tr>
        {% endfor %}
      </tbody>
    </table>
    </section>
{% endblock body %}